$height:32px;
$font-size: 14px;
$color: #333;
$button-height: 32px;
$button-bg: #fff;
$button-active-bg: #eee;
$border-radius: 4px;
$border-color: #999;
$border-color-hover: #666;
$tabs-horizontal-height: 40px;
$tabs-vertical-height: 100px;
$blue:dodgerblue;
$red:#F1453D;
$toast-color: white;
$toast-bg: rgba(0, 0, 0, 0.5);
$box-shadow-color:rgba(0,0,0,0.25);
$animation-duration:0.5s;




